antspyx==0.3.3
git+https://github.com/MIC-DKFZ/HD-BET@master
nibabel==4.0.2
nltk==3.7
numpy==1.21.6
pandas==1.3.5
pyradiomics==3.0.1
scikit-image==0.18.3
scikit-learn==1.0.2
scipy==1.7.3
torch>=1.3.1
